<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${post.title})">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="post">
                <div class="blog-post">
                    <a class="" th:href="@{/posts/{id}(id=${post.id})}">
                        <h2 class="blog-post-title" th:text="${post.title}"></h2>
                    </a>
                    <p class="blog-post-meta">Month DD,YYYY by <a href="#">User</a></p>
                    <div class="" th:text="${post.body}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="col-xs-2" th:href="@{/posts}">
            <Button class="col-xs-12 btn btn-primary">Back</Button>
        </a>
        <a class="col-xs-2" th:href="@{/posts/{id}/edit(id=${post.id})}">
            <Button class="col-xs-12 btn btn-warning">Edit</Button>
        </a>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>